<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/base::layout(~{::section})}">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<section style="height: 545px;">
		<div class="container-fluid p-5 mt-2">
			<div class="row mt-4">
				<div class="col-md-4">
					<div class="card">
						<div class="card-header text-center fs-4 custom-bg text-white">
							<p class="fs-4 pt-2">Add Admin</p>
							
							<th:block th:if="${session.succMsg}">
								<p class="text-success fw-bold">[[${session.succMsg}]]</p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>
							<th:block th:if="${session.errMsg}">
								<p class="text-danger fw-bold">[[${session.errMsg}]]</p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>
						</div>
						<div class="card-body mb-4 ">
							<form action="/admin/loadAdmin" method="post">
								<div class="mb-3">
									<input type="text" class="form-control" name="fullName"
										placeholder="Full Name" required />
								</div>
								<div class="mb-3">
									<input type="text" class="form-control" name="mobileNumber"
										placeholder="Mobile Number" required />
								</div>
								<div class="mb-3">							
									<input type="text" class="form-control" name="email"
										placeholder="Email" required />
								</div>
								<div class="mb-3">
									<input type="text" class="form-control" name="password"
									 placeholder="Password" required />
								</div>
								<div class="text-center">
								<button class="btn btn-primary">Register</button>
							</div>
							</form>
							
						</div>

					</div>

				</div>
				<div class="col-md-8 ">
					<div class="card">
						<div class="card-header fs-4 text-center custom-bg text-white ">
						 <p class="fs-4 pt-2">Admin Details</p>
						</div>
						<div class="card-body">
							<table class="table table-hover">
								<thead>
									<tr>
										<th scope="col">Sr No.</th>
										<th scope="col">Full Name</th>
										<th scope="col">Mobile Number</th>
										<th scope="col">Email</th>
										<th scope="col">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="ad, a:${admins}">
										
										<th scope="row">[[${a.count}]]</th>
										<td>[[${ad.fullName}]]</td>
										<td>[[${ad.mobileNumber}]]</td>
										<td>[[${ad.email}]]</td>
										<td>
											<a th:href="@{'/admin/editAdmin/'+ ${ad.id}}" class="btn btn-primary btn-sm">
											<i class="fa-solid fa-pen-to-square"></i> Edit</a>
											<a th:href="@{'/admin/deleteAdmin/'+ ${ad.id}}" class="btn btn-danger btn-sm">
											<i class="fa-solid fa-trash"></i> Delete</a>
										</td>
									</tr>
								

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>