<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Document</title>
</head>

<body>
	<section>
		<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="img/art4.jpg" class="d-block w-100" alt="..." height="370px">

				</div>
				<div class="carousel-item">
					<img src="img/art5.jpg" class="d-block w-100" alt="..." height="370px">
				</div>
				<div class="carousel-item">
					<img src="img/art6.jpg" class="d-block w-100" alt="..." height="370px">
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
				data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
				data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>

		<!--end of slider-->

		<!--start category module-->

		<div class="container">
			<div class="row">
				<p class="text-center fs-4 mt-4">Category</p>
				<div class="col-md-2" th:each="cat,c:${categories}">
					<div class="card" >
						<div class="card-body text-center">
							<img th:src="@{'/img/category_img/'+${cat.imageName}}" width="120px"
										height="100px"  />
							<b>[[${cat.name}]]</b>
							
						</div>
					</div>
				</div>
				
				
					
				<!--<div class="col-md-2">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body rounded">
						<div class="card-body text-center">
							<img src="img/cat2.jpg" alt="Error" width="100%" height="120px" />
							<b>Flag</b>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body rounded">
						<div class="card-body text-center">
							<img src="img/cat3.jpg" alt="Error" width="100%" height="120px" />
							<b>Art</b>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body rounded">
						<div class="card-body text-center">
							<img src="img/cat4.jpg" alt="Error" width="100%" height="120px" />
							<b>Art</b>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body rounded">
						<div class="card-body text-center">
							<img src="img/cat5.jpg" alt="Error" width="100%" height="120px" />
							<b>Art</b>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body rounded">
						<div class="card-body text-center">
							<img src="img/cat6.jpg" alt="Error" width="100%" height="120px" />
							<b>Art</b>
						</div>
					</div>-->
				</div>
			</div>
		<!--</div>-->

		<!--end category module-->

		<!--latest category module-->
		<div class="container bg-light ">
			<div class="row">
				<b class="text-center fs-5 mt-2 mb-4">Latest Design</b>
			
				<div class="col-md-3">
					<div class="card " style="width: 14rem;">
						<img src="img/jun1.jpeg" class="card-img-top" alt="...">
						<div class="card-body text-center">
							<b>Jungle Art</b>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card" style="width: 14rem;">
						<img src="img/jun1.jpeg" class="card-img-top" alt="...">
						<div class="card-body text-center">
							<b>Jungle Art</b>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card" style="width: 14rem;">
						<img src="img/jun1.jpeg" class="card-img-top" alt="...">
						<div class="card-body text-center">
							<b>Jungle Art</b>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card" style="width: 14rem;">
						<img src="img/jun1.jpeg" class="card-img-top" alt="...">
						<div class="card-body text-center">
							<b>Jungle Art</b>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--latest category module-->
	</section>
</body>

</html>